@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

html,
body {
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
  background: #DEDEDE;
}

.flex-container {
  position: fixed;
  justify-content: space-between;
  flex-flow: row wrap;
  min-height: 400px;
}
#server-browser {
  display: none;
}

.bigger-button {
  height: 150px;
  border-radius: 20px;
  font-size:50px;
  margin: 3%;
  width: 91%;
}

.big-button {
  border-radius: 20px;
  height: 150px;
  font-size:30px;
  width: 44%;
  margin: 1%;
  margin-top: 0px;
}

ul{
  margin: 0;
  padding: 0;
}
li{
  margin: 0;
  display: flex;
  align-items: center;
  margin-top: 0px;
  background: #e4e4e4;
  list-style-type: none;
  text-align: left;
  font-size: x-large;
  padding-left: 10px;
  overflow: hidden;
}
.server-name{
  width:30%;
  flex-grow: 1;
}
.server-input{
  width:30%;
  font-size: large;
}
.server-members{
  color: #7b7b7b
}
.server-button{
  height:56px;
}
